$color-black: #000;
$color-white: #fff;
$color-grey: #5A7E8A;
$color-grey-2: #D9D9D9;
$color-grey-3: #979797;
$color-grey-dark: #436270;
$color-grey-light: #F1F1F1;
$color-grey-border: #EEF2F3;
$color-grey-icon: #A0A0A0;
$color-red: #FF003D;