@mixin font-lekton {
    font-family: 'Lekton', sans-serif;
}

@mixin font-oswald {
    font-family: 'Oswald', sans-serif;
}

$font-extra-light:200;
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semi-bold:600;
$font-bold:700;