.content {
    font-family: Roboto !important;
}

.content table {
    font-family: Roboto !important;
    font-size: 14px;
}

.content .dxgvControl {
    font-family: Roboto !important;
    font-size: 14px;
    font: inherit;
}

.content .dxgvHeader {
    padding: 9px 6px !important;
}

.content .bg-theme-38 {
    background-color: #5a7e8a !important;
}

.content .bg-theme-38 hover:bg-theme-1 {
    background-color: #326e82; !important;
}

.hover\:bg-theme-1:hover {
    background-color: #326e82; !important;
}

.content .bg-theme-38 .border-theme-40 {
    border-color: #f1f5f8
}

.content .popupTop {
    background-color: #f1f5f8 !important;
    top: 90px !important;
}

.content .upload-result {
    border: #000 solid 1px;
    margin: 5px;
    padding: 5px 8px;
}


/*
.content .bg-theme-38:hover{ hover:bg-theme-1
	background-color: #326e82; !important;
}
*/

.preview .dxtcSys{
    display: block;
}

.preview .dxtcSys > .dxtc-content > div{
    display: block;
}
.preview .dxtcSys > .dxtc-content > div > div{
    display: block;
}



.preview .dropdown {
    text-align: center;
}

.preview .dropdown .dropdown-box {
    text-align: left;
}

.preview .dropdown .dropdown-box a {
    color: #000;
    word-break: break-all;
}

.preview .dropdown .dropdown {
    margin-top: 35px !important;
}

.content .dateList {
    border: #e2e8f0 solid 1px;
    border-radius: 5px;
    font-family: Roboto !important;
    font-size: 14px;
    font: inherit;
    /* width: 50% !important; */
}

.content .dateList .dxeEditAreaSys {
    padding: 7px;
}

.delearWapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-between;
}
.delearWapper .dropDowndxe{
    width: 100%;
    flex-wrap: wrap;
    margin-right: 0px;
}
.delearWapper .dropDowndxe .productOpt{
    display: flex;
    margin: 0 25px 10px 0;
    width: calc(50% - 25px);
}
.delearWapper .dropDowndxe .productOpt label{
    padding: 9px 10px 0 0;
    width: 40%;
}
.delearWapper .dropDowndxe .productOpt .dateList{
    width: 60%;
}
.delearWapper .dropDowndxe .productOpt .text-white{
    margin-left: auto;
}
.delearWapper .dropDowndxe .productOptAddNew{
    width: 100%;
    text-align: right;
}


.delearOuter {
    width: 40%;
    display: flex;
    margin: 0 30px 0px 0;
    flex-direction: row;
}

.delearPurchOuter {
    width: 32%;
    display: flex;
    margin: 0 30px 15px 0;
    flex-direction: column;
}

.delearDtWapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 5px;
}

.delearDtOuter {
    width: 50%;
    display: flex;
    margin: 0 30px 15px 0;
    flex-direction: column;
}

.content .delearArea {
    width: 100% !important;
}

.content .webOrderDt {
    width: 100% !important;
}

.nameSpace {
    padding-right: 7px;
}

.top-bar {
    z-index: 48;
}

*>.intro-y:nth-child(1) {
    z-index: 47;
}

.hover\:bg-gray-200:hover {
    background-color: #c0f3e5;
}

.dateList .dxeButtonEditButton {
    background: none;
    border: none;
}
.dropDowndxeOuter{
    display: flex;
    flex-wrap: wrap;
}
.dropDowndxe{
    width: calc(43% - 20px);
    margin-right: 20px;
}
.dropDowndxeButArea{
    width: 10%;
    margin-right: 20px;
}
.dropDowndxe .dxeListBoxItemSelected {
    background-color: #5a7e8a;
}

.dropDowndxe .dxeListBoxItemHover {
    background-color: #c0f3e5;
}
.dropDowndxe label{
    font-weight: 700;
    display: block;
    padding: 0 0 3px 0;
}

.cropWidth .dxpclW {
    width: 500px !important;
}

.admin__pop-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.mangPromFormOut {
    display: flex;
}

.mangPromFormOut .inputLt {
    width: 49%;
    margin-right: 10px;
}

.mangPromFormOut .inputRt {
    width: 49%;
    margin-left: 10px;
}

.mangPromFormOut .inputLt .dateList {
    width: 100% !important;
}

.mangCheckBox {}

.mangCheckBox span {
    padding-left: 0px !important;
}

.twoColumOut {
    display: flex;
}

.twoColumOut .leftCol1 {
    width: 48%;
    margin-right: 20px;
}

.twoColumOut .leftCol1 .dateList {
    width: 100% !important;
}

.twoColumOut .rightCol2 {
    width: 50%;
}

.twoColumOut .rightCol2 .dateList {
    width: 100% !important;
}
.logoWidth{
    width: 130px;
}
.profileArea{
    right: 0;
}
#ContentPlaceHolder1_divPartnerForm label{
display: inline-block;
}

#ContentPlaceHolder1_divPartnerForm #ContentPlaceHolder1_TknSkills{
    border: #e2e8f0 solid 1px;
    border-radius: 0.375rem;
    padding: 9px 10px;
}
#ContentPlaceHolder1_divPartnerForm #ContentPlaceHolder1_ddlStatus{
    width: 100%;
    padding: 9px 7px;
}

.delearDate{
    width: 55%;
}
.delearDate .dateList{
    margin: 0 10px;
}

.delearDateSub{
    display: flex;
    justify-content: flex-end;
}
.delearButFilter{
    margin-top: 2px;
    margin-left: 10px;
}

#ContentPlaceHolder1_CampSummaryTabPage_divProjects .delearDate #ContentPlaceHolder1_CampSummaryTabPage_DateFrom{
    /* width: auto; */
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}
#ContentPlaceHolder1_CampSummaryTabPage_divProjects .delearDate #ContentPlaceHolder1_CampSummaryTabPage_DateTo {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}
#ContentPlaceHolder1_CampSummaryTabPage_divProjects .delearDate #ContentPlaceHolder1_CampSummaryTabPage_btnFilter {
    margin-top: 7px;
}

.mangSerRateOptBut{
    left: -87px;
}
.rooms-Opt-But{
    left: 18%;
}
.mangThemeConfig{
    width: 30%;
    margin-right: 20px;
}
.mangThemeConfig table{
    width: 100%;
}
.data-collect{
    width: calc(50% - 16px);
    margin-right: 16px;
}
.cropWidth.img-crop .dxpcLite.dxpclW{
left: 0 !important;
}

.cropWidth.img-crop .dxpc-mainDiv.popupTop.dxpc-shadow{
    min-width: 900px;
    top: 30px !important;
}
.cropWidth.img-crop iframe{
    height: 500px;
}
@media(max-width:991px) {
    .preview .dropdown .dropdown-box {
        text-align: left;
        width: 100%;
    }
    .mangPromFormOut {
        display: block;
    }
    .mangPromFormOut .inputLt {
        width: 100%;
        margin-right: 0px;
    }
    .mangPromFormOut .inputRt {
        width: 100%;
        margin-left: 0px;
    }
    .twoColumOut {
        flex-direction: column;
    }
    .twoColumOut .leftCol1 {
        width: 100%;
        margin-right: 0px;
    }
    .twoColumOut .rightCol2 {
        width: 100%;
    }
    .cropWidth.img-crop .dxpc-mainDiv.popupTop.dxpc-shadow{
    min-width: auto;
    
}

}

@media(max-width:974px) {
    .mangSerRateOptBut{
        left: 0;
    }
}

@media(max-width:768px) {
    .content .dateList {
        width: 100% !important;
    }
    .cropWidth .dxpclW {
        width: 98% !important;
        left: 0 !important;
    }
    .delearWapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .delearOuter {
        width: 100%;
        margin: 0 0px 15px 0;
        display: block;
    }
    .delearPurchOuter {
        width: 100%;
        margin: 0 00px 15px 0;
        flex-direction: column;
    }
    .delearDtWapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .delearDtOuter {
        width: 100%;
        display: flex;
        margin: 0 0px 15px 0;
        flex-direction: column;
    }
    .logoWidth{
        width: 70px;
    }
    .dropDowndxe {
        width: calc(100%);
        margin-right: 5px;
    }
    
    .delearDate{
        width: 100%;
        flex-wrap: wrap;
    }
    .delearDate .dateList{
        margin: 10px 0;
    }
    .delearButFilter{
        width: 100%;
    }
}


@media(max-width:639px) {
    .profileArea{
        right: auto;
    }
    .data-collect{
        width: 100%;
        margin-right: 0px;
    }
}

.overflow .dxgvEditFormDisplayRow td.dxgv,
.dxgvDetailCell td.dxgv,
.dxgvDataRow td.dxgv,
.dxgvDetailRow.dxgvADR td.dxgvAIC {
    overflow: inherit;
}


/*pop-up Area Starts*/

.dxpc-header {
    padding: 10px 2px 10px 12px;
    font-size: 16px;
}


/*pop-up Area Ends*/